:root {
  --variable-collection-navbar: rgba(69, 186, 236, 0.9);
  --variable-collection-link: rgba(69, 186, 236, 1);
  --variable-collection-black: rgba(41, 41, 41, 1);
  --variable-collection-light-gray: rgba(240, 240, 240, 1);
  --variable-collection-lighter-black: rgba(79, 78, 78, 1);
}
